html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

#pageContainer {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

#massHeadContainer {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
    background-color: #ffffff;
    z-index: 1; /* this is for navigation bar is always on top */
    display: flex;
    align-items: center; /* this center means center item vertical not horizontal */
}

/* #massHeadContainer button.navShowHide {
    border-radius: 50%;
} */

#massHeadContainer button:not(.searchButton) {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

#massHeadContainer button img {
    width: 100%;
}

#massHeadContainer .logoContainer {
    width: 150px;
    cursor: pointer;
    padding-left: 10px;;
}

#massHeadContainer .logoContainer img {
    height: 50px;
    border: none;
    background: transparent;
}

#massHeadContainer .searchBarContainer {
    margin: 0 40px;
    flex: 1;
    display: flex;
}

#massHeadContainer .searchBarContainer form {
    flex: 1;
    display: flex;
}

#massHeadContainer .searchBarContainer .searchBar{
    flex: 1;
    color: #111;
    max-width: 600px;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid#ccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: none;
    height: 32px;
    box-shadow: #eee 0px 1px 2px 0px inset;
}

#massHeadContainer .searchBarContainer .searchButton{
    height: 32px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 65px;
    cursor: pointer;
}

#massHeadContainer .searchBarContainer .searchButton img {
    height: 20px;
    width: 20px;
}

/* #massHeadContainer .uploadButtonContainer {
    height: 20px;
    padding-bottom: 5px;
} */

#massHeadContainer .uploadButtonContainer img{
    height: 20px;
    width: 20px;
}

#massHeadContainer .profileButtonContainer {
    padding-right: 10px;
    padding-bottom: 2px;
}

#massHeadContainer .profileButtonContainer img{
    height: 30px;
    width: 30px;   
}

#sideNavigationBar {
    width: 240px;
    background-color: #f5f5f5;
    padding-top: 50px;
    position: fixed;
    top: 0;
    /* left: 0; */
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#mainSectionContainer {
    padding-top: 50px;
    display: flex;
}

#mainSectionContainer.leftPadding {
    padding-left: 240px;
}

#mainContentContainer {
    padding: 10px 30px;
    display: flex;
    flex: 1;
    background-color: #f8f8f8;
    box-sizing: border-box;
}

#mainContentContainer .column {
    flex: 1;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.signUpContainer {
    background-color: #efefee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpContainer .column {
    background-color: #f8f8f8;
    /* padding: 10px; */
    /* background-color: #ffffff; */
    flex-grow: 0;
    overflow: auto;
    max-height: 100%;
    overflow-y: auto;
}   

.signUpContainer .column .header img {
    background-color: transparent;
    height: 100px;
    /* padding-bottom: 20px; */
}

.leftVideoColumn {
    flex: 1;
}

.leftVideoColumn .views {
    font-size: 14px;
    flex: 1;
}

.leftVideoColumn .controls {
    flex: 1;
    text-align: right;
}

.leftVideoColumn .controls button{
    padding: 0;
    border: none;
    background: transparent;
    color: rgba(17, 17, 17, 0.4);
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
}

.leftVideoColumn .controls button img {
    height: 20px;
    width: 20px;
    margin: 4px 8px 8px 8px;
}

.leftVideoColumn .secondaryInfo .top {
    display: flex;
    margin-bottom: 12px;
}

.rightSuggestionsColumn {
    max-width: 425px;
    flex-grow: 1;
    height: 100%;
}

.secondaryInfo {
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.secondaryInfo .top a img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 50%;

}

.secondaryInfo .top .uploadInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.secondaryInfo .top .uploadInfo .publishDate {
    color: rgba(17, 17, 17, 0.4);
    font-size: 13px;
    font-weight: 400;
}

.secondaryInfo .top .uploadInfo .owner a {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.secondaryInfo .top .button {
    padding: 6px 15px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    font-size: 14px;
}

.secondaryInfo .top .subscribeButtonContainer,
.secondaryInfo .top .editButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribeButtonContainer .subscribe {
    background-color: #f00;
    color: #ffffff;
}

.subscribeButtonContainer .unsubscribe {
    background-color: #eee;
    color: rgba(17, 17 ,17, 0.6);
}

.editButtonContainer .edit {
    background-color: #2692e6;
    color: #ffffff;
}

.secondaryInfo .descriptionContainer{
    margin-left: 66px;
    max-width: 500px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.error {
    color: #f00;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.commentSection .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    margin-top: 24px;
}

.commentSection .header .commentForm, 
.commentContainer .commentForm{
    display: flex;
}

.commentSection .header .commentForm textarea,
.commentContainer .commentForm textarea{
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #000000;
    resize: none;
}

.commentSection .header .commentForm button,
.commentContainer .commentForm button{
    border: none;
    height: 34px;
    padding: 0 10px;
    margin: 0 2px;
}

.commentContainer .commentForm .replyComment, 
.commentContainer .commentForm .cancelComment {
    height: 27px;
}

.commentContainer .commentForm .cancelComment {
    color: rgba(17, 17, 17, 0.6);    
}

.commentContainer .commentForm .cancelComment:hover {
    color: #000;
}


.commentContainer .commentForm textarea {
    height: 30px;
}

.commentSection .header .commentForm .profileImage,
.commentSection .comments .profileImage, 
.commentForm .profileImage{
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.commentSection .header .totalComments {
    margin-bottom: 24px;
}

.commentSection .commentContainer {
    margin-bottom: 16px;
}

.commentSection .comment {
    display: flex;
}

.commentSection .commentHeader {
    margin-bottom: 2px;
}

.commentSection .comment .username ,
.commentSection .comment .time{
    margin-right: 8px;
    color: #111;
    font-size: 13px;
    font-weight: 500;
}

.commentSection .commentBody {
    font-size: 14px;
    font-weight: 400;
    line-break: 20px;
}

.commentContainer .controls {
    margin-left: 64px;
    text-align: left;
}

.commentContainer .controls button, 
.commentContainer .controls .likesCount{
    height: 32px;
    background:transparent;
    font-size: 13px;
    font-weight: 500;
    color:rgba(17, 17, 17, 0.6);
}

.commentContainer .controls button {
    cursor: pointer;    
}

.commentContainer .controls button img {
    height: 16px;
    width: 16px;
    /* margin: 0; */
}

.commentContainer .commentForm .profileImage {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.commentContainer .commentForm {
    align-items: baseline;
    margin-left: 60px;
}

.commentContainer .viewReplies {
    margin-left: 66px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.hidden {
    display: none !important;
}

.comments .repliesSection {
    margin-left: 60px;
    margin-top: 16px;
}

.videoGrid {
    display: flex;
    flex-wrap: wrap;
}

.rightSuggestionsColumn .videoGridItem {
    display: flex;
    height: auto;
}

.videoGridItem {
    height: 200px;
    margin-right: 4px;
    margin-bottom: 24px;
}

.videoGridItem .thumbnail {
    height: 118px;
    width: 210px;
    position: relative;
}

.videoGridItem .thumbnail img {
    width: 100%;
    height: 100%;
}

.videoGridItem .thumbnail .duration {
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 4px 6px;
    color: #fff;
    background-color: rgba(17, 17, 17, 0.8);
    opacity: 0.8;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-break: 12px;
    font-weight: 400;
}

.rightSuggestionsColumn .videoGridItem .thumbnail {
    margin-right: 8px;
}

.videoGridItem .details  {
    padding-right: 24px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 210px;
}

.rightSuggestionsColumn .videoGridItem .details {
    display: flex;
    padding-right: 0;
}

.videoGridItem .details .title {
    max-height: 32px;
    overflow: hidden;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #212529;
}

.videoGridItem .details .username, 
.videoGridItem .details .stats {
    color: rgba(17, 17 ,17, 0.6);
    font-size: 13px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    word-spacing: nowrap;
}

.videoGridHeader {
    display: flex;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.videoGridHeader div {
    flex: 1;
}

.videoGrid.large {
    flex-direction: column;
    flex: 1;
}

.videoGrid.large .videoGridItem {
    height: auto;
    display: flex;
}

.videoGrid.large .videoGridItem .thumbnail{
    height: 138px;
    width: 266px;
    margin-right: 16px;
}
.videoGrid.large .videoGridItem .details {
    max-width: 600px;
    flex: 1;
}

.videoGrid.large .videoGridItem .details .title {
    font-size: 18px;
    line-height: 24px;
}

.videoGridItem .details .description {
    color: rgba(17, 17 ,17, 0.6);
    font-size: 13px;
    font-weight: 500;
}

.largeVideoGridContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.videoGridHeader .right {
    text-align: right;
}

.videoGridHeader a{
    color: rgba(17, 17 ,17, 0.6);
}
 
.videoGridHeader a:after{
    content: ' |';
}

.videoGridHeader a:last-child:after {
    content: "";
}

.profileButtonContainer .signin{
    color: rgba(17, 17 ,17, 0.6);
    margin-left: 2px;
/*     margin-top: 10px; */
}

#sideNavigationBar .navigationMenu {
    overflow-y: auto;
}

#sideNavigationBar .navigationItem {
    height: 40px;
    display: flex;
}

#sideNavigationBar .navigationItem img {
    height: 18px;
    margin-right: 20px;
}

#sideNavigationBar .navigationItem span {
    flex: 1;
    color: #111;
    font-size: 14px;
}

#sideNavigationBar .navigationItem a{
    flex: 1;
    display: flex;
    align-items:center;
    padding: 0 24px;
}

#sideNavigationBar .navigationItem a:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

#sideNavigationBar .navigationMenu .heading {
    color: rgba(17, 17, 17, 0.6);
    font-size:14px;
    font-weight: 500;
    padding: 10px 24px 0;
    border-top: 1px solid #ededed;
    display:block;
    
}

.profileContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.coverPhotoContainer {
    height: 200px;
    flex: 1;
    position: relative;
}

.coverPhotoContainer .coverPhoto {
    width: 100%;
    object-fit: cover;
    max-height :100%;
    vertical-align: middle;
}

.coverPhotoContainer .channelName {
    position: absolute;
    top: calc(50% - 40px);
    font-size: 50px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    letter-spacing: 5px;
}

.profileHeader {
    padding: 15px 100px 10px 100px;
    display: flex;
    height: 100px;

}

.userInfoContainer {
    flex: 1;
    display: flex;
}

.profileHeader .userInfoContainer .profileImage {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.profileHeader .userInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileHeader .userInfo .title{
    font-size: 24px;
    font-weight: 400;
    color: #111;
}

.profileHeader .userInfo .subscribers{
    color: rgba(17, 17, 17, 0.6);
    font-size: 14px;
}

.profileHeader .buttonContainer {
    flex:1;
    display:flex;
    justify-content:flex-end;
}

.profileHeader .buttonContainer .subscribeButtonContainer {
    align-items: center;
    display:flex;
}

.profileHeader .buttonContainer .subscribeButtonContainer .button {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.profileContainer .channelContent {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-top: none;
}

.nav-item a {
    color: rgba(17, 17, 17, 0.6);
}

.channelContent .section .values {
    display: flex;
    flex-direction: column;
    color: rgba(17, 17, 17, 0.6);
}


.editVideoContainer {
    display: flex;
    flex-direction: column;
    
}

.editVideoContainer .topSection {
   display: flex;
}

.editVideoContainer .videoPlayer {
    max-height: 300px;
    flex: 1;
}

.editVideoContainer .topSection .thumbnailItemsContainer {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 210px;
    
}

.editVideoContainer .topSection .thumbnailItemsContainer .thumbnailItem {
    margin-bottom: 10px;
    padding: 2px;
    
}

.editVideoContainer .topSection .thumbnailItemsContainer .thumbnailItem.selected {
    border: 3px solid #828282;

}

.editVideoContainer .topSection .thumbnailItemsContainer .thumbnailItem img {
    width: 100%;
    cursor: pointer;
}






















